<section id="profile">
    <!-- TODO center this 2 div -->
    <div class="section__pic-container">
        <img src="./assets/sandeepan.jpg" alt="Sandeepan Banerjee profile picture">
    </div>
    <div class="section__text">
        <p class="section__text__p1">Hello, I'm</p>
        <h3 class="title">Sandeepan Banerjee</h3>
        <p class="section__text__p2">Fullstack Developer</p>

        <div class="btn-container">
            <button class="btn btn-color-2" onclick="window.open('./assets/SANDEEPAN BANERJEE.pdf')">Download
                CV</button>
            <button class="btn btn-color-1" onclick="location.href='./#contact'">Contact Info</button>
        </div>
        <div id="socials-container">
            <img src="./assets/linkedin.png" alt="Sandeepan's linkdin profile" class="icon"
                onclick="location.href='https://www.linkedin.com/in/connect2sandy'">
            <img src="./assets/github.png" alt="Sandeepan's github profile" class="icon"
                onclick="location.href='https://github.com/s-banerjee94'">
        </div>
    </div>
</section>